<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">提示信息：</h4>
            </div>
            <div class="modal-body">
                <p>[[message]]</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="closeModal()">确定</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="container content">

    <div class="row index-info">
        <div class="col-md-7">
            <h2>优质&nbsp;&nbsp;快速&nbsp;&nbsp;专业&nbsp;&nbsp;灵活</h2>
            <p>世和基因从2008年开始致力于高通量测序（NGS）在肿瘤精准医学领域的临床转化研究，拥有中国最大的肿瘤NGS基因组数据库（>50000份样本）。世和基因拥有国内首家无瑕疵通过CAP验收认证的肿瘤临床检验中心，并已通过包括美国CAP、欧洲EMQN、中国卫计委临检中心室间质评在内的多项国内外权威认证。</p>
            <p>世和基因在加拿大和中国两地建有转化医学中心逾10,000平方米，拥有Illumina全系列高通量测序平台。经过近九年的研发投入和近四年的市场耕耘，世和基因已经与全国400多家三级甲等医院和肿瘤专科医院开展合作，成为中国肿瘤精准医学领域的领军企业。</p>
            <div class='firstpage-img' ng-show='logined'>
                <img src="/images/hiseqXTen.jpg" alt="HiSeqX">
            </div>
        </div>



        <div class="col-md-5" ng-show='logined'>
            {{!-- 登录 --}}
            <div class="login" ng-show='login'>
                <h2 ng-hide='loginSuccess'>&nbsp;&nbsp;&nbsp;&nbsp;登录</h2>
                <div class="login-form">
                    <form ng-hide='loginSuccess' role="form" name='loginForm' novalidate ng-submit='loginSubmit()'>
                        <div class="form-group">
                            <input type="text" class="form-control" name="accountname" ng-model='user.accountname' placeholder="用户名" ng-minlength='6'
                                ng-maxlength='20' required/>
                            <div class="error" ng-messages="loginForm.accountname.$error">
                                {{!-- <div ng-message="required" style="color:green">请输入账号(数字,字母的组合)</div> --}}
                                <div ng-message="minlength" style="color:red">账户名至少为6位</div>
                                <div ng-message="maxlength" style="color:red">账户名最多为20位</div>
                            </div>

                            <input type="password" class="form-control" name="password" ng-model='user.password' placeholder="密码" ng-minlength='6' ng-maxlength='20'
                                required/>
                            <div class="error" ng-messages="loginForm.password.$error">
                                {{!-- <div ng-message="required" style="color:green">请输入密码(数字,字母的组合)</div> --}}
                                <div ng-message="minlength" style="color:red">密码至少为6位</div>
                                <div ng-message="maxlength" style="color:red">密码最多为20位</div>
                            </div>
                        </div>
                        <div style="color:red">
                            <b>[[resultmsg]]</b>
                        </div>
                        <input type="submit" class="form-control btn btn-info" value="登录" />
                    </form>
                    <p>还没有账户？
                        <a href="javascript:;" ng-click='change()'>注册</a>
                    </p>
                </div>
            </div>

            {{!-- 注册 --}}
            <div class="login" ng-hide='reg'>
                <h2>&nbsp;&nbsp;&nbsp;&nbsp;注册</h2>
                <div class="login-form">
                    <form role="form" name='regForm' novalidate ng-submit="regSubmit()">
                        <div class="form-group">
                            <input type="text" name='accountname' class="form-control" ng-model='user.accountname' placeholder="用户名(数字,字母的组合)" ng-minlength='6'
                                ng-maxlength='20' required ng-blur="querySameUser(1)" /> {{!--
                            <div>请输入账号</div>--}}
                            <div class="error" ng-messages="regForm.accountname.$error">
                                {{!--
                                <div ng-message="required" style="color:green">请输入账号(数字,字母的组合)</div> --}}
                                <div ng-message="minlength" style="color:red">账户名至少为6位</div>
                                <div ng-message="maxlength" style="color:red">请输入不超过20个字符的账号</div>
                            </div>

                            <input type="password" class="form-control" name="password" ng-model='user.password' id="" placeholder="密码(数字,字母的组合)" ng-minlength='6'
                                ng-maxlength='20' required/>
                            <div class="error" ng-messages="regForm.password.$error">
                                {{!--
                                <div ng-message="required" style="color:green">请输入密码(数字,字母的组合)</div> --}}
                                <div ng-message="minlength" style="color:red">密码至少为6位</div>
                                <div ng-message="maxlength" style="color:red">密码最多为20位</div>
                            </div>

                            <input type="password" class="form-control" name="repassword" ng-model='user.repassword' placeholder="确认密码" required/>
                            <div class="error" ng-messages="regForm.password.$error">
                                {{!--
                                <div ng-message="required" style="color:green">请再次输入密码</div> --}}
                            </div>

                            <input type="email" class="form-control" name="email" ng-model='user.email' placeholder="请输入您的常用邮箱" required ng-blur="querySameUser(2)"
                            />
                            <div class="error" ng-messages="regForm.email.$error">
                                {{!--
                                <div ng-message="required" style="color:green">请输入您的常用邮箱</div> --}}
                                <div ng-message="email" style="color:red">您的邮箱格式不正确</div>
                            </div>

                            <div ng-show="hasVertifyCode">
                                <input type="text" class="form-control" name="vertifycode" ng-model='user.vertifycode' placeholder="请输入您邮箱收到的验证码" ng-minlength='6'
                                    ng-maxlength='6' required/>
                                <div class="error" ng-messages="regForm.vertifycode.$error">
                                    {{!--
                                    <div ng-message="required" style="color:green">请输入您邮箱收到的验证码</div> --}}
                                    <div ng-message="minlength" style="color:red">请输入6位数的验证码</div>
                                    <div ng-message="maxlength" style="color:red">请输入6位数的验证码</div>
                                </div>
                            </div>
                        </div>
                        <div style="color:red">
                            <b>[[resultmsgaccountname]]</b>
                        </div>
                        <div style="color:red">
                            <b>[[resultmsgemail]]</b>
                        </div>
                        <div style="color:red">
                            <b>[[resultmsg]]</b>
                        </div>
                        <input type="submit" class="form-control  btn btn-info" value="注册" />
                    </form>
                    <p>已有账户？
                        <a href="javascript:;" ng-click='change()'>登录</a>
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-5 firstpage-img" ng-hide="logined">
            <img src="/images/hiseqXTen.jpg" alt="HiSeqX">
        </div>



    </div>
</div>