<div class="pub-bgcolor">
    <div class="container">

        <h3>送样信息表管理</h3>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">送样信息表查询</h3>
            </div>
            <div class="panel-body">

                <form novalidate role="form" class="form-horizontal">

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-1">
                                <label for="">送样信息表ID</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" name="accountname" />
                            </div>

                            <div class="col-md-1" class="name-institution">
                                <label for="">送样信息表类型</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" name="accountname" />
                            </div>

                            <div class="col-md-1">
                                <label for="">联系电话</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" name="accountname" />
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-1">
                                <label for="">机构地址</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" name="accountname" />
                            </div>

                            <div class="col-md-1" class="name-institution">
                                <label for="">收货地址</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" name="accountname" />
                            </div>

                            <div class="col-md-1">
                                <label for="">运单号</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" name="accountname" />
                            </div>

                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary">查询</button>
                            <button type="submit" class="btn btn-primary">取消</button>
                        </div>

                    </div>

                </form>
            </div>



            <div class="panel panel-success">
                <div class="panel-heading">
                    <span class="panel-title">送样信息表列表</span>
                    <button type="button" class="btn btn-primary more">
                        <span class="glyphicon glyphicon-plus"></span>
                        新增</button>
                </div>
                <div class="panel-body">

                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>送样信息表ID</th>
                                <th>项目ID</th>
                                <th>送样信息表类型</th>
                                <th>机构地址</th>
                                <th>送样信息表状态</th>
                                <th>收货地址</th>
                                <th>运单号</th>
                                <th>操作列</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>1</td>
                                <td></td>
                                <td>
                                    <button type="submit" class="btn btn-primary">编辑查看</button>
                                    <button type="submit" class="btn btn-info">默认机构</button>
                                    <button type="submit" class="btn btn-warning">物流</button>
                                    <button type="button" class="btn btn-danger">删除</button>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>1</td>
                                <td></td>
                                <td>
                                    <button type="submit" class="btn btn-primary">编辑查看</button>
                                    <button type="submit" class="btn btn-info">默认机构</button>
                                    <button type="submit" class="btn btn-warning">删除</button>
                                    <button type="button" class="btn btn-danger">删除</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>



        </div>
    </div>